body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  height: 100vh;
}

.App {
  text-align: center;
}

.App h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 4rem;
  color: white;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.728);
  margin-bottom: 20px;
}

.stopwatch-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(139, 224, 254);
  border-radius: 50px;
  background-color: whitesmoke;
  padding: 30px;
}

.input-container input[type=number] {
  width: 10%;
  margin: 10px;
  font-size: 2rem;
}

.input-container span {
  font-size: 1.5rem;
  margin-right: 5px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: palevioletred;
  text-shadow: 2px 2px 2px rgba(255, 192, 203, 0.882);
  margin-bottom: 25px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: palegreen;
}

.start-button:hover {
  background-color: rgb(84, 255, 84);
}

.stop-button {
  background-color: rgb(255, 137, 107);
}

.stop-button:hover {
  background-color: rgb(255, 111, 75);
}

.reset-button {
  background-color: paleturquoise;
}

.reset-button:hover {
  background-color: rgb(129, 240, 240);
}

.timer-end-container p {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 4.5rem;
  color: rgb(253, 87, 45);
  text-shadow: 4px 4px 4px rgba(255, 137, 107, 0.728);
  margin: 0 0 10px 0;
}